{% extends 'main.html' %}
{% load static %}

{% block title %} Restaurant | About Us {% endblock title %}

{% block content %}


       <!-- Breadcrumb Start -->
       <div class="bread-crumb">
        <div class="container">
            <div class="matter">
                <h2>About Us</h2>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="{% url 'home' %}">HOME</a></li>
                    <li class="list-inline-item"><a href="#">About us</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- About Start -->
    <div class="about">
        <div class="container">
            <div class="row">
                <!-- Title Content Start -->
                
                <div class="col-sm-12 col-md-12 col-lg-6 col-xs-12 commontop text-left">
                    <h4>about our restaurant {{ aboutObj.title }}</h4>
                    <div class="divider style-1 left">
                        <i class="icofont icofont-ui-press hr-icon left"></i>
                        <span class="hr-simple right"></span>
                    </div>
                    <p>{{ aboutObj.detailes }}</p>
                    <p class="des">{{ aboutObj.full_detailes }}</p>
                </div>
                
                <!-- Title Content End -->
                <div class="col-sm-12 col-md-12 col-lg-6 col-xs-12">
                    <div class="owl-carousel owl-theme owl-about">
                        <!--  Slider image Start  -->
                        {% for aboutObj2 in aboutObj2 %}
                        <div class="item">
                            <img src="{{ aboutObj2.slider_image.url}}" alt="restaurant">
                        </div>
                        {% endfor %}
                        
                        <!--  Slider image End  -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

    <!-- Fun-Factor Start -->
    <div class="fun-factor">
        <div class="container">
            <div class="row ">
                {% for funFactor in funFactor %}
                <div class="col-sm-3 col-6">
                    <!-- Fun-Factor Box Start -->
                    <div class="single-box">
                        <span>
                            <i class="icofont {{ funFactor.icone }}"></i>
                        </span>
                        <h4 class="number" data-from="100" data-to="{{ funFactor.values }}" data-refresh-interval="10">
                            {{ funFactor.values }}</h4>
                        <h3>{{ funFactor.title }}</h3>
                    </div>
                    <!-- Fun-Factor Box End -->
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Fun-Factor End -->

    <!-- Service Start  -->
    <div class="service">
        {% for chooseUs in chooseUs %}
        <div class="container">
            <div class="row ">
                <!-- Title Content Start -->
                <div class="col-sm-12 col-xs-12 commontop text-center">
                    <h4>Why Choose Us ?</h4>
                    <div class="divider style-1 center">
                        <span class="hr-simple left"></span>
                        <i class="icofont icofont-ui-press hr-icon"></i>
                        <span class="hr-simple right"></span>
                    </div>
                    <p>{{ chooseUs.chooseUs_title }}</p>
                </div>
                <!-- Title Content End -->
                <div class="col-sm-12 col-xs-12 video">
                    <img src="{{ chooseUs.choose_image.url }}" class="img-fluid" alt="image" title="image" />
                </div>
                <div class="col-sm-4 col-xs-12">
                    <!--  Box Start  -->
                    <div class="box text-center">
                        <span><i class="icofont icofont-waiter-alt"></i></span>
                        <h4>Best Chef</h4>
                        <p>{{ chooseUs.chef_title }}  </p>
                    </div>
                    <!--  Box End  -->
                </div>
                <div class="col-sm-4 col-xs-12">
                    <!--  Box Start  -->
                    <div class="box text-center">
                        <span><i class="icofont icofont-dining-table"></i></span>
                        <h4>{{ chooseUs.total_tables }} Tables</h4>
                        <p>{{ chooseUs.tables_detailes }}  </p>
                    </div>
                    <!--  Box End  -->
                </div>
                <div class="col-sm-4 col-xs-12">
                    <!--  Box Start  -->
                    <div class="box text-center">
                        <span><i class="icofont icofont-recycling-man"></i></span>
                        <h4>Clean Environment</h4>
                        <p>{{ chooseUs.clean_detailes }} </p>
                    </div>
                    <!--  Box End  -->
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Service End   -->

    <!-- Team Start  -->
    <div class="team">
        <div class="container">
            <div class="row ">
                <!-- Title Content Start -->
                <div class="col-sm-12 col-xs-12 commontop text-center">
                    <h4>Our Chefs</h4>
                    <div class="divider style-1 center">
                        <span class="hr-simple left"></span>
                        <i class="icofont icofont-ui-press hr-icon"></i>
                        <span class="hr-simple right"></span>
                    </div>
                    {% for chooseUs in chooseUs %}
                    <p>{{ chooseUs.our_chefs_title }}</p>
                    {% endfor %}
                </div>
                <!-- Title Content End -->
                {% for teamMember in teamMember %}
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <!-- Box Start -->
                    <div class="box">
                        <img src="{{ teamMember.picture.url }}" class="img-fluid" alt="chef" title="chef" />
                        <div class="caption text-center">
                            <h4>{{ teamMember.name|capfirst }}</h4>
                            <ul class="list-inline social">
                                <li class="list-inline-item"><a href="{{ teamMember.facebook_link }}" target="_blank"><i class="icofont icofont-social-facebook"></i></a></li>
                                <li class="list-inline-item"><a href="{{ teamMember.twitter_link }}" target="_blank"><i class="icofont icofont-social-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="{{ teamMember.google_link }}" target="_blank"><i class="icofont icofont-social-google-plus"></i></a></li>
                                <li class="list-inline-item"><a href="{{ teamMember.instagram_link }}" target="_blank"><i class="icofont icofont-social-instagram"></i></a></li>
                            </ul>
                            <p>{{ teamMember.sort_details }} </p>
                        </div>
                    </div>
                    <!-- Box End -->
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Team End  -->

    <!-- Testimonials Start  -->
    <div class="testimonials">
        <div class="container">
            <div class="testimonials-inner">
                <div class="row ">
                    <!-- Title Content Start -->
                    <div class="col-sm-12 col-xs-12 commontop white text-center">
                        <h4>What Our Customers Say</h4>
                        <div class="divider style-1 center">
                            <span class="hr-simple left"></span>
                            <i class="icofont icofont-ui-press hr-icon"></i>
                            <span class="hr-simple right"></span>
                        </div>
                    </div>
                    <!-- Title Content End -->
                    <div class="col-sm-12 col-xs-12">
                        <div class="owl-carousel owl-theme owl-testi">
                            {% for testMonial in testMonial %}
                            <div class="item">
                                <p>{{ testMonial.messages }}</p>
                                <span>- {{ testMonial.clint_name }}</span>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Testimonials End  -->



<!-- Newsletter Start -->
<div id="newsletter">
<div class="container">
  <div id="subscribe">
    <!-- Subscribe Form -->
    <form class="form-horizontal" name="subscribe">
      <div class="row">
        <div class="col-sm-6 col-md-7">
          <div class="input-group">
            <span class="news">newsletter</span>
            {% for allSections in allSections %}
                <p>
                {{ allSections.newsletter}}
                </p>
            {% endfor %}
          </div>
        </div>
        <div class="col-sm-6 col-md-5 form-group">
          <div class="input-group">
            <input
              value=""
              name="subscribe_email"
              id="subscribe_email"
              placeholder="Email"
              type="text"
            />
            <button class="btn btn-news" type="submit" value="submit">
              Send
            </button>
          </div>
        </div>
      </div>
    </form>
    <!-- Subscribe Form -->
  </div>
</div>
</div>
<!-- Newsletter End -->
        

{% endblock %}