{% extends 'main.html' %}
{% load static %}

{% block title %} Restaurant | PasswordReset {% endblock title %}

{% block content %}


       <!-- Breadcrumb Start -->
       <div class="bread-crumb">
        <div class="container">
            <div class="matter">
                <h2>Our Shop</h2>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="{% url 'home' %}">HOME</a></li>
                    <li class="list-inline-item"><a href="#">Our Shop</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->
    <!-- <section class="password-bg">
        <div class="password-reset">
            <h3>PASSWORD RESET</h3>
            <p>
                Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.
            </p>
            <form method="post" action="">
        
                
                <input type="submit" name="Send Email">
        
            </form>
        </div>
    </section> -->

    <Section>
        <!-- Login Start -->
    <div class="login">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-12 commontop text-center">
                    <h4>Password Reset to Your Account</h4>
                    <div class="divider style-1 center">
                        <span class="hr-simple left"></span>
                        <i class="icofont icofont-ui-press hr-icon"></i>
                        <span class="hr-simple right"></span>
                    </div>
                </div>
                <div class="col-lg-10 col-md-12">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="loginnow">
                                <h5>Login</h5>
                                <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.Do not Need <a href="{% url 'login-page' %}">Login</a> </p>
                                <form method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                     <div class="form-group">
                                          {{form}}
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="SEND EMAIL" class="btn btn-theme btn-md btn-wide" />
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-6">
                            <div class="loginto loginnow">
                                <h5>Login via social accounts</h5>
                                <ul class="list-unstyled text-center">
                                    <li><a href="#" target="_blank"><i class="icofont icofont-social-facebook"></i> Login with Facebook</a></li>
                                    <li><a href="#" target="_blank"><i class="icofont icofont-social-twitter"></i> Login with Twitter</a></li>
                                    <li><a href="#" target="_blank"><i class="icofont icofont-social-google-plus"></i> Login with Google+</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Login End -->

    </Section>
{% endblock %}