{% extends 'main.html' %}
{% load static %}

{% block title %} Restaurant | Shop {% endblock title %}

{% block content %}


       <!-- Breadcrumb Start -->
       <div class="bread-crumb">
        <div class="container">
            <div class="matter">
                <h2>Our Shop</h2>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="{% url 'home' %}">HOME</a></li>
                    <li class="list-inline-item"><a href="#">Our Shop</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Shop Start -->
    <div class="shop">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <!-- Left Filter Start -->
                    <div class="left-side">
                        <h4>SEARCH FILTERS</h4>
                        <div class="search">
                            <!-- Search Filter Start -->
                            <form class="form-horizontal" method="get">
                                <fieldset>
                                    <div class="form-group">
                                        <input value="{{ request.GET.s }}" name="s" class="form-control" placeholder="Search Food" type="text">
                                        <button type="submit" value="submit" class="btn"><i class="icofont icofont-search"></i></button>
                                    </div>
                                    <ul class="list-unstyled">
                                        {% for category in MenucAT %}
                                        <li>
                                            <label class="check">
                                                <input type="radio" name="payment" class="checkclass"/>
                                                {{ category.name }}
                                            </label>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </fieldset>
                            </form>
                            <!-- Search Filter End -->
                        </div>
                        <div class="food">
                            <h3>Food For</h3>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <label class="check">
                                        <input type="radio" name="payment" class="checkclass"/>
                                        Delivery
                                    </label>
                                </li>
                                <li class="list-inline-item">
                                    <label class="check">
                                        <input type="radio" name="payment" class="checkclass"/>
                                        Pickup
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <div class="popular">
                            <!-- Tag Filter Start -->
                            <h3>popular tags <a href="#" class="pull-right"><i class="icofont icofont-plus"></i></a></h3>
                            <ul class="list-inline">
                                <li class="list-inline-item"><a href="#">Service <i class="icofont icofont-close"></i></a></li>
                                <li class="list-inline-item"><a href="#">Cookies <i class="icofont icofont-close"></i></a></li>
                                <li class="list-inline-item"><a href="#">Pizza <i class="icofont icofont-close"></i></a></li>
                                <li class="list-inline-item"><a href="#">Tandoori Chicken <i class="icofont icofont-close"></i></a></li>
                                <li class="list-inline-item"><a href="#">Cupcake <i class="icofont icofont-close"></i></a></li>
                                <li class="list-inline-item"><a href="#">Burger <i class="icofont icofont-close"></i></a></li>
                            </ul>
                            <!-- Tag Filter End -->
                        </div>
                        <div class="rating">
                            <!-- Rating Filter Start -->
                            <h3>Rating</h3>
                            <ul class="list-unstyled">
                                <li>
                                    <label class="check">
                                        <input type="radio" name="payment" class="checkclass"/>
                                        <i class="icofont icofont-star"></i>
                                        <i class="icofont icofont-star"></i>
                                        <i class="icofont icofont-star"></i>
                                        <i class="icofont icofont-star"></i>
                                        <i class="icofont icofont-star"></i>
                                    </label>
                                </li>
                                <li>
                                    <label class="check">
                                        <input type="radio" name="payment" class="checkclass"/>
                                        <i class="icofont icofont-star"></i>
                                        <i class="icofont icofont-star"></i>
                                        <i class="icofont icofont-star"></i>
                                        <i class="icofont icofont-star"></i>
                                        <i class="icofont icofont-star"></i>
                                    </label>
                                </li>
                                <li>
                                    <label class="check">
                                        <input type="radio" name="payment" class="checkclass"/>
                                        <i class="icofont icofont-star"></i>
                                        <i class="icofont icofont-star"></i>
                                        <i class="icofont icofont-star"></i>
                                        <i class="icofont icofont-star"></i>
                                        <i class="icofont icofont-star"></i>
                                    </label>
                                </li>
                                <li>
                                    <label class="check">
                                        <input type="radio" name="payment" class="checkclass"/>
                                        <i class="icofont icofont-star"></i>
                                        <i class="icofont icofont-star"></i>
                                        <i class="icofont icofont-star"></i>
                                        <i class="icofont icofont-star"></i>
                                        <i class="icofont icofont-star"></i>
                                    </label>
                                </li>
                                <li>
                                    <label class="check">
                                        <input type="radio" name="payment" class="checkclass"/>
                                        <i class="icofont icofont-star"></i>
                                        <i class="icofont icofont-star"></i>
                                        <i class="icofont icofont-star"></i>
                                        <i class="icofont icofont-star"></i>
                                        <i class="icofont icofont-star"></i>
                                    </label>
                                </li>
                            </ul>
                            <!-- Rating Filter End -->
                        </div>
                    </div>
                    <!-- Left Filter End -->
                </div>
                <div class="col-md-9 mainpage">
                    <!-- Product View Start -->
                    <div class="row sort">
                        <!-- Product Short Start -->
                        <div class="col-md-4">
                            <div class="form-group input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <label class="input-group-addon" for="input-sort">Sort By :    </label>
                                </div>
                                <select id="input-sort" class="form-control selectpicker bs-select-hidden">
                                    <option value="" selected="selected">Newest</option>
                                    <option value="">Trending</option>
                                    <option value="">Best Seller</option>
                                    <option value="">Low to High</option>
                                    <option value="">High to Low</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <label class="input-group-addon" for="input-sort">Show :    </label>
                                </div>
                                <select id="input-show" class="form-control selectpicker bs-select-hidden">
                                    <option value="" selected="selected">Default</option>
                                    <option value="">1</option>
                                    <option value="">5</option>
                                    <option value="">15</option>
                                    <option value="">20</option>
                                    <option value="">25</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 list d-sm-none d-md-block text-right">
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" id="grid-view" class="btn btn-theme-alt btn-md btngrid" data-toggle="tooltip" title="Grid"><i class="icofont icofont-brand-microsoft"></i></button>
                                <button  type="button" id="list-view" class="btn btn-theme-alt btn-md btngrid" data-toggle="tooltip" title="List"><i class="icofont icofont-listine-dots"></i></button>
                            </div>
                        </div>
                        <!-- Product Short End -->
                    </div>

                    <div class="form-row">
                        <!-- Product List Start -->
                        {% for popularDish in popularDishes %}
                        <!-- Single Product Start -->
                        <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-12">
                            <div class="product-thumb">
                                <div class="image">
                                    <a class="link" href="{% url 'shop-details' popularDish.id %}">
                                        <img src="{{ popularDish.dish_picture.url }}" alt="Food image" title="Food image" class="img-fluid" style="height:296px; width: 266px;" />
                                    </a>
                                    <div class="hoverbox">
                                        <form method="POST" action="{% url 'shopping-cart' %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="dish_id" value="{{ popularDish.id }}">
                                            <button type="submit" class="btn btn-theme-alt btn-md">Add to Cart</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="caption">
                                    <h4>{{ popularDish.dish_name | slice:":16" }}</h4>
                                    <div class="rating">
                                        <i class="icofont icofont-star"></i>
                                        <i class="icofont icofont-star"></i>
                                        <i class="icofont icofont-star"></i>
                                        <i class="icofont icofont-star"></i>
                                        <i class="icofont icofont-star"></i>
                                    </div>
                                    <div class="price">${{ popularDish.dish_price }}</div>
                                    <p class="des">{{ popularDish.dish_title }}</p>
                                    <p>{{ popularDish.details | slice:":75" }}</p>
                                    <p>
                                        <!-- <form method="POST" action="{% url 'shopping-cart' %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="dish_id" value="{{ popularDish.id }}">
                                            <button type="submit" class="btn btn-theme btn-md">Add to Cart</button>
                                        </form> -->
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Single Product End -->
                        {% endfor %}
                        
                        <!-- Product List End -->
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-12 text-center">
                            <!-- Pagination Start -->
                            <ul class="pagination justify-content-center">
                                {% if popular_dishes.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ popular_dishes.previous_page_number }}" aria-label="Previous">
                                        <i class="icofont icofont-double-left"></i>
                                    </a>
                                </li>
                                {% endif %}
                                {% for num in popular_dishes.paginator.page_range %}
                                <li class="page-item {% if popular_dishes.number == num %}active{% endif %}">
                                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                </li>
                                {% endfor %}
                                {% if popular_dishes.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ popular_dishes.next_page_number }}" aria-label="Next">
                                        <i class="icofont icofont-double-right"></i>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                            <!-- Pagination End -->
                        </div>
                    </div>
                    <!-- Product View End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Shop End -->

<!-- Newsletter Start -->
<div id="newsletter">
<div class="container">
  <div id="subscribe">
    <!-- Subscribe Form -->
    <form class="form-horizontal" name="subscribe">
      <div class="row">
        <div class="col-sm-6 col-md-7">
          <div class="input-group">
            <span class="news">newsletter</span>
            {% for allSections in allSections %}
                <p>
                    {{ allSections.newsletter}}
                </p>
            {% endfor %}
          </div>
        </div>
        <div class="col-sm-6 col-md-5 form-group">
          <div class="input-group">
            <input
              value=""
              name="subscribe_email"
              id="subscribe_email"
              placeholder="Email"
              type="text"
            />
            <button class="btn btn-news" type="submit" value="submit">
              Send
            </button>
          </div>
        </div>
      </div>
    </form>
    <!-- Subscribe Form -->
  </div>
</div>
</div>
<!-- Newsletter End -->
        

{% endblock %}