{% extends 'main.html' %}
{% load static %}

{% block title %} Restaurant | Shopping-cart {% endblock title %}

{% block content %}


      <!-- Breadcrumb Start -->
      <div class="bread-crumb">
        <div class="container">
            <div class="matter">
                <h2>Shopping Cart</h2>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="{% url 'home' %}">HOME</a></li>
                    <li class="list-inline-item"><a href="#">Shopping Cart</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Cart Start  -->
    <div class="mycart">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a class="nav-link active" href="#tab-cart" data-toggle="tab"><span>1</span>shopping cart</a></li>
                        <li class="nav-item"><a class="nav-link" href="#tab-info" data-toggle="tab"><span>2</span>shopping info</a></li>
                        <li class="nav-item"><a class="nav-link" href="#tab-payment" data-toggle="tab"><span>3</span>payment method</a></li>
                    </ul>
                    <div class="bor"></div>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-cart">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <h2>You have <span>{{ cart_items|length }} items</span> in your order.</h2>
                                <div class="table-responsive-md">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <td class="text-center">Name</td>
                                                <td class="text-center">Price</td>
                                                <td class="text-center">Qty.</td>
                                                <td class="text-center">Total</td>
                                                <td></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for cart_item in cart_items %}
                                            <tr>
                                                <td>
                                                    <a href="{% url 'shop-details' shop_id=cart_item.dish.id  %}">
                                                        <img src="{{ cart_item.dish.dish_picture.url }}" class="img-fluid" alt="thumb" style="height: 130px; width: 130px;" title="thumb" />
                                                    </a>
                                                    <div class="name">
                                                        <h4>{{ cart_item.dish.dish_name }}</h4>
                                                        <p>{{ cart_item.dish.dish_title }}</p>
                                                        <div class="rating">
                                                            <i class="icofont icofont-star"></i>
                                                            <i class="icofont icofont-star"></i>
                                                            <i class="icofont icofont-star"></i>
                                                            <i class="icofont icofont-star"></i>
                                                            <i class="icofont icofont-star"></i>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    $ {{ cart_item.dish.dish_price|floatformat:"2" }}
                                                </td>
                                                <td class="text-center">
                                                    <p class="qtypara">
                                                        <span id="minus1" class="minus"><i class="icofont icofont-minus"></i></span>
                                                        <input type="text" name="quantity" value="{{cart_item.quantity}}" size="2" id="input-quantity1" class="form-control qty" />
                                                        <span id="add1" class="add"><i class="icofont icofont-plus"></i></span>
                                                        <input type="hidden" name="product_id" value="1" />
                                                    </p>
                                                </td>
                                                <td class="text-center">${{ cart_item.item_total|floatformat:"2" }}</td>
                                                <td class="text-center">
                                                    <button type="submit" name="remove_item" value="{{ cart_item.id }}"><i class="icofont icofont-close-line"></i></button>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            <tr>
                                                <td colspan="5">
                                                    <h3 class="text-right">SUBTOTAL - ${{ subtotal|floatformat:"2" }}</h3>
                                                    <div class="buttons float-left">
                                                        <a href="{% url 'shop' %}" class="btn btn-theme btn-md btn-wide">Continue Shopping</a>
                                                    </div>
                                                    <div class="buttons float-right">
                                                        <a href="#tab-info" data-toggle="tab" class="btn btn-theme btn-md btn-wide">Checkout</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                        </div>

                        <div class="tab-pane col-md-12 col-12" id="tab-info">
                            <div class="row">
                                <div class="col-lg-5 col-md-6 col-12">
                                    <h6>Shopping Address</h6>
                                    <form method="post" enctype="multipart/form-data">	
                                        <fieldset>	
                                            <div class="form-group">
                                                <input name="india" value="" placeholder="Country" id="input-india" class="form-control" type="text">
                                            </div>
                                            <div class="form-group">
                                                <input name="state" value="" placeholder="State" id="input-state" class="form-control" type="text">
                                            </div>
                                            <div class="form-group">
                                                <input name="City" value="" placeholder="City" id="input-City" class="form-control" type="text">
                                            </div>
                                            <div class="form-group">
                                                <input name="code" value="" placeholder="Zip Code" id="input-code" class="form-control" type="text">
                                            </div>
                                            <div class="form-group">
                                                <input name="address" value="" placeholder="Address" id="input-address" class="form-control" type="text">
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>

                                <div class="col-lg-2 d-none d-lg-block"></div>
                                <div class="col-lg-5 col-md-6 col-12">
                                    <h6>Contact information</h6>
                                    <form method="post" enctype="multipart/form-data">	
                                        <fieldset>	
                                            <div class="form-group">
                                                <input name="firstname" value="" placeholder="First Name" id="input-firstname" class="form-control" type="text">
                                            </div>
                                            <div class="form-group">
                                                <input name="lastname" value="" placeholder="Last Name" id="input-lastname" class="form-control" type="text">
                                            </div>
                                            <div class="form-group">
                                                <input name="email" value="" placeholder="Email" id="input-email" class="form-control" type="text">
                                            </div>
                                            <div class="form-group">
                                                <input name="phone" value="" placeholder="Phone Number" id="input-phone" class="form-control" type="text">
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                                <div class="col-md-12 col-12">
                                    <div class="buttons float-left">
                                        <a href="#tab-cart" data-toggle="tab" class="btn btn-theme btn-md btn-wide">Shopping Cart</a>
                                    </div>
                                    <div class="buttons float-right">
                                        <a href="#tab-payment" data-toggle="tab" class="btn btn-theme btn-md btn-wide">Continue</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane col-md-12 col-12"  id="tab-payment">
                            <form class="form-horizontal" method="post">
                                <fieldset>
                                    <div class="form-group ">
                                        <ul class="list-inline text-center link">
                                            <li class="list-inline-item active">
                                                <a href="#"><img src="assets/images/shop/visacard.png" alt="visa" title="visa" class="img-fluid"></a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="#"><img src="assets/images/shop/master.png" alt="master" title="master" class="img-fluid"></a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="#"><img src="assets/images/shop/discovers.png" alt="discover" title="discover" class="img-fluid"></a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="#"><img src="assets/images/shop/pay.png" alt="paypal" title="paypal" class="img-fluid"></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="form-group row">	
                                        <div class="col-sm-12">
                                            <input class="form-control" id="input-card" placeholder="Card Holder Name" value="" name="holder" required="" type="text">
                                        </div>
                                    </div>	
                                    <div class="form-group row">	
                                        <div class="col-sm-12">
                                            <input class="form-control" id="input-expiry" placeholder="Card Number" value="" name="card" required="" type="text">
                                        </div>
                                    </div>	
                                    <div class="form-group row">
                                        <label>Expiry Date</label>
                                        <div class="col-sm-4">
                                            <input class="form-control" placeholder="Month" value="" name="month" required="" type="text">
                                        </div>
                                        <div class="col-sm-4">
                                            <input class="form-control" placeholder="Year" value="" name="Year" required="" type="text">
                                        </div>
                                        <div class="col-sm-4">
                                            <input class="form-control" id="input-cvv" placeholder="cvv" value="" name="cvv" required="" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12 col-12 text-center">
                                            <div class="buttons">
                                                <a href="#tab-cart" data-toggle="tab" class="btn btn-theme btn-md btn-wide">Shopping Cart</a>
                                                <a href="thank-you.html" class="btn btn-theme btn-md btn-wide">Place Order</a>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>

                        </div>
                    </div>	
                </div>
            </div>
        </div>
    </div>
    <!-- Cart End  -->



<!-- Newsletter Start -->
<div id="newsletter">
<div class="container">
  <div id="subscribe">
    <!-- Subscribe Form -->
    <form class="form-horizontal" name="subscribe">
      <div class="row">
        <div class="col-sm-6 col-md-7">
          <div class="input-group">
            <span class="news">newsletter</span>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Nam iaculis lorem augue, at quam finibus eget.
            </p>
          </div>
        </div>
        <div class="col-sm-6 col-md-5 form-group">
          <div class="input-group">
            <input
              value=""
              name="subscribe_email"
              id="subscribe_email"
              placeholder="Email"
              type="text"
            />
            <button class="btn btn-news" type="submit" value="submit">
              Send
            </button>
          </div>
        </div>
      </div>
    </form>
    <!-- Subscribe Form -->
  </div>
</div>
</div>
<!-- Newsletter End -->
        

{% endblock %}