{% extends 'main.html' %}
{% load static %}

{% block title %} Restaurant | Thank-you {% endblock title %}

{% block content %}


       <!-- Breadcrumb Start -->
       <div class="bread-crumb">
        <div class="container">
            <div class="matter">
                <h2>Thank You</h2>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="index.html">HOME</a></li>
                    <li class="list-inline-item"><a href="#">Thank You</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Service Start  -->
    <div class="page-not-found">
        <div class="container">
            <div class="row ">
                <!-- Title Content Start -->
                <div class="col-sm-12 col-12 commontop text-center">
                    <h4>Thank You</h4>
                    <div class="divider style-1 center">
                        <span class="hr-simple left"></span>
                        <i class="icofont icofont-ui-press hr-icon"></i>
                        <span class="hr-simple right"></span>
                    </div>
                    <div class="thanks-content">
                        <h3><i class="icofont icofont-tick-mark"></i> Congratulations. <br>Your order was Completed Successfully.</h3>
                        <p><strong>Hi Kapil,</strong></p>
                        <p>We have received your order.<br> We will send you an Email and SMS the moment your order items are dispatched to your address.</p>
                        <p>Your Order ID: <strong>9428575331</strong></p>
                        <a class="btn btn-theme btn-wide" href="index.html">Go to home</a>
                    </div>
                </div>
                <!-- Title Content End -->
            </div>
        </div>
    </div>
    <!-- Service End   -->


<!-- Newsletter Start -->
<div id="newsletter">
<div class="container">
  <div id="subscribe">
    <!-- Subscribe Form -->
    <form class="form-horizontal" name="subscribe">
      <div class="row">
        <div class="col-sm-6 col-md-7">
          <div class="input-group">
            <span class="news">newsletter</span>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Nam iaculis lorem augue, at quam finibus eget.
            </p>
          </div>
        </div>
        <div class="col-sm-6 col-md-5 form-group">
          <div class="input-group">
            <input
              value=""
              name="subscribe_email"
              id="subscribe_email"
              placeholder="Email"
              type="text"
            />
            <button class="btn btn-news" type="submit" value="submit">
              Send
            </button>
          </div>
        </div>
      </div>
    </form>
    <!-- Subscribe Form -->
  </div>
</div>
</div>
<!-- Newsletter End -->

        

{% endblock %}